.cache*
.dockerignore
.git*
.project
.pydev*
.settings*

build*
demo*
dist*
docs
docker-compose*
logs*
rasa-nlu-contrib-app-data*
tests
tox*
venv*

Dockerfile
Makefile

**/*.pyc
**/__pycache__
*egg-info*
*.tar
*.tar.gz
