-r requirements_bare.txt
-r requirements_server.txt
-r requirements_pretrained_embeddings_spacy.txt
-r requirements_supervised_embeddings.txt
-r requirements_pretrained_embeddings_mitie.txt

# duckling
duckling==1.8.0
Jpype1==0.6.2

# chinise
jieba==0.39