-r requirements_full.txt

bandit==1.7.*
docker-compose==1.28.*
flake8==3.8.*
httpretty==0.9.*
mock==2.0.*
moto==1.3.*
python-coveralls==2.9.*
pytest==3.3.*
pytest-pycodestyle==1.4.*
pytest-cov==2.5.*
pytest-twisted==1.6
responses==0.9.*
tox==3.21.*
treq==17.8.*


google-cloud-storage==1.7.*
azure-storage-blob==1.0.*
boto3==1.9.*